/* HEADER  */
.header {
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 50px;
}
.logo {
  padding-right: 180px;
}

.header__menu {
  display: flex;
  padding-right: 100px;
}
.header__menu-list {
  padding-right: 38px;
  position: relative;
}
.header__menu-list a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
  line-height: 2.4rem;
}

.header__menu-list:hover a {
  color: var(--primary-color);
}
.header__menu-list:hover a::after {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 1.5px solid var(--primary-color);
  width: 15px;
}
.header__btn {
  display: flex;
  align-items: center;
}

.login__btn,
.primary__btn {
  font-size: 1.6rem;
  border-radius: 25px;
  font-weight: 500;
}
.login__btn {
  border: 2px solid var(--border-btn);
  padding: 13.5px 33px;
  color: var(--primary-color);
  line-height: 1.9rem;
  margin-right: 13px;
}
.primary__btn {
  background-image: linear-gradient(to right, #f67102, #f4a91e);
  color: var(--white-color);
  padding: 13px 33px;
  line-height: 2.4rem;
}

/* BANNER  */

.banner {
  margin-top: 20px;
  margin-bottom: 140px;
}
.banner__title {
  max-width: 500px;
}
.banner__title h2 {
  height: 120px;
  width: 440px;
}
.banner__text {
  flex: 0 0 50%;
  max-width: 50%;
}
.banner__link {
  display: flex;
  align-items: center;
}
.banner__img {
  margin-left: 38px;
  flex: 0 0 50%;
  max-width: 50%;
}
.banner__img img {
  width: 100%;
  object-fit: cover;
}
.play__btn {
  align-items: center;
  border-radius: 50%;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 19px 20px;
  cursor: pointer;
  margin: 0 39px;
}
.icon__play {
  color: var(--primary-color);
}
.watch__btn {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: var(--text-color2);
}

/* SOCIAL */
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--social-bg);
  padding: 76px 270px;
  margin-bottom: 140px;
}
.social__item {
  display: flex;
  align-items: center;
}
.social__icon {
  padding-right: 10px;
}
.google {
  color: var(--text-color3);
  font-size: 2rem;
}
.fa-google {
  font-size: 2.5rem;
}
.slack {
  font-size: 3.2rem;
  line-height: 4.8rem;
  color: var(--text-color3);
}
.slack h3 {
  font-weight: 600;
}

.discord {
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: var(--text-color3);
}
.discord h3 {
  font-weight: 400;
}

.rio {
  font-family: "Sonsie One", cursive;
  font-size: 2.3rem;
  line-height: 3rem;
  color: var(--text-color3);
}
.rio h3 {
  font-weight: 400;
}

.insta {
  font-size: 1.9rem;
  line-height: 2.9rem;
  color: var(--text-color3);
}
.insta h3 {
  font-weight: 600;
}
.fa-instagram {
  font-size: 3.5rem;
}

/* SERVICES */
.services {
  max-width: 1070px;
  margin: 0 auto;
  margin-bottom: 75px;
}
.services__title {
  width: 620px;
}

.services__menu {
  display: flex;
  align-items: stretch;
  margin-top: 70px;
}
.services__item {
  width: calc(100% / 3 - 22px);
  height: 334px;
  text-align: center;
  padding: 60px 45px 0 45px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.services__item:not(:last-child) {
  margin-right: 33px;
}

.services__icon {
  color: var(--icon-color);
  font-size: 3.5rem;
  padding-bottom: 26px;
}
.services__item h3 {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 3.1rem;
  padding-bottom: 19px;
}
.services__item p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  color: var(--p-shared);
}

/* AWARD  */
.award {
  display: flex;
  align-items: center;
  margin-bottom: 105px;
}
.award__img {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
}
.award__text {
  flex: 0 0 50%;
  max-width: 50%;
}
.award__title h3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
}
.award__title p {
  margin-bottom: 37px;
}
.award__btn {
  padding: 16.5px 33px;
}

/* FUTURE  */
.future {
  display: flex;
  align-items: center;
  background-color: var(--future-bg);
  padding: 60px 155px;
  margin-bottom: 145px;
}
.future__title {
  max-width: 500px;
}
.future__title p {
  margin-bottom: 34px;
}
.future__img,
.future__text {
  flex: 0 0 50%;
  max-width: 50%;
}

.future__img {
  height: 600px;
}

.future__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FEEDBACK */
.feedback {
  display: flex;
  align-items: center;
  margin-bottom: 140px;
}
.ffedback__text,
.feedback__img {
  flex: 0 0 50%;
  max-width: 50%;
}
.feedback__item {
  background-color: var(--white-color);
  border-radius: 10px;
  width: 230px;
  position: relative;
  padding: 28px 18px 30px 26px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.feedback__item img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid black;
}
.feedback__img {
  display: flex;
  align-items: center;
}
.feedback__item-img {
  margin-bottom: 7px;
}
.feedback__header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.feedback__img-2 {
  margin-right: 15px;
}

.feedback__item:first-child {
  margin-bottom: 15px;
}
.icon__star {
  color: var(--primary-color);
}
.feedback__item span {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 500;
  color: black;
}
.client__name {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1rem;
  color: var(--text-color4);
  margin-bottom: 5px;
}
.client__career {
  font-size: 0.7rem;
  line-height: 1.1rem;
  font-weight: 500;
  color: var(--p-shared);
  margin-bottom: 8px;
}
.client__desc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: var(--p-shared);
  margin-bottom: 24px;
}
.icon__quotes {
  float: right;
  color: var(--primary-color);
  font-size: 2rem;
}

/* BLOG */
.blog {
  margin-bottom: 140px;
}
.blog__title {
  max-width: 610px;
}
.blog__menu {
  display: flex;
  align-items: stretch;
  margin-top: 78px;
}
.blog__item {
  width: calc(100% - (34px * 2) / 3);
  transition: all ease 0.2s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 17px 17px;
}
.blog__item:not(:last-child) {
  margin-right: 34px;
}
.blog__item img {
  height: 320px;
  width: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0px 0px;
}
.blog__item:hover,
.blog__item:hover h3 {
  transform: translateY(-5%);
  color: var(--primary-color);
  cursor: pointer;
}
.blog__item-content {
  padding: 35px 25px;
}
.blog__item-content h3 {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 600;
}
.blog__item-content p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--p-shared);
  margin-top: 10px;
}

/* NEWSLETTER */
.newsletter {
  display: flex;
  align-items: center;
  background-color: var(--future-bg2);
  border-radius: 67px;
  padding: 77px 170px 110px 160px;
}
.newsletter__text,
.newsletter__send {
  flex: 0 0 50%;
  max-width: 50%;
}
.newsletter__send {
  position: relative;
  margin-left: 20px;
}
.newsletter__send input {
  height: 53px;
  width: 370px;
  outline: none;
  border: none;
  border-radius: 26.5px;
  padding: 0px 0px 0px 25px;
}
.newsletter__btn {
  position: absolute;
  left: 55%;
  padding: 14.5px 33px;
}

/* FOOTER  */
.footer {
  background-color: var(--footer-bg);
  padding-left: 170px;
  padding-top: 106px;
  padding-bottom: 30px;
}
.footer__all {
  display: flex;
  align-items: stretch;
}
.footer__col1 {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  text-align: left;
}
.footer__col1 p {
  max-width: 235px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: var(--p-shared);
  margin-top: 22px;
  margin-bottom: 27px;
}
.footer__col3 {
  flex: 0 0 66.667%;
  max-width: 66.667%;
  display: flex;
  align-items: stretch;
}
/* .footer__services,
.support,
.contact {
  width: calc(100% / 3 - 48.667px);
} */
.footer__icon {
  color: var(--footer-icon);
  font-size: 3rem;
  margin-right: 10px;
}
.footer h3 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.5rem;
  color: var(--text-color3);
}
.footer__item {
  font-size: 1.4rem;
  line-height: 3.7rem;
  font-weight: 400;
  color: var(--text-footer);
}
.footer__item:not(:last-child) {
  margin-right: 73px;
}
.end {
  margin-right: 170px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 25px;
}
.end h2 {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 400;
  color: var(--text-color3);
}
